@import "./base.css";

html {
  overflow: hidden;
}

body {
  width: 100vw;
}

#app,
#app > div {
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

body.impaired #app {
  height: 60vh;
  margin-top: 40vh;
}

a {
  text-decoration: none;
}

